<button
  class="account-placeholder flex size-full items-center gap-3 overflow-hidden rounded-lg p-1.5 hover:bg-muted"
>
  <div
    class="avatar-placeholder aspect-square h-full shrink-0 overflow-hidden rounded-sm"
  >
    <img
      class="size-full object-cover"
      src="https://i.pinimg.com/564x/6c/0b/25/6c0b252b8d6c90099f71b49c201c2f60.jpg"
      alt=""
    />
  </div>

  <div class="min-w-0 grow flex-col items-start overflow-hidden text-left">
    <span class="truncate text-[14px] font-semibold">Roronoa Zoro</span>
    <p class="truncate text-xs text-muted-foreground">Administrador</p>
  </div>

  <div class="size-6 shrink-0">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>
</button>
