.app-layout {
  display: grid;
  grid-template-areas:
    'sidebar topbar'
    'sidebar main';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100svh;

  position: relative;
  isolation: isolate;
  overflow: hidden;

  .sidebar-area {
    grid-area: sidebar;
  }

  .topbar-area {
    grid-area: topbar;
  }

  .main-area {
    grid-area: main;
    overflow: auto;
  }

  @media (width < 768px) {
    grid-template-areas:
      'sidebar'
      'topbar'
      'main';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: unset;
  }
}
