<button
  class="account-placeholder flex size-full items-center gap-3 overflow-hidden rounded-lg p-1.5 hover:bg-muted"
>
  <div
    class="avatar-placeholder aspect-square h-full shrink-0 overflow-hidden rounded-sm"
  >
    <img
      class="size-full object-cover"
      src="https://w7.pngwing.com/pngs/440/382/png-transparent-imss-hd-logo-thumbnail.png"
      alt="company_logo"
    />
  </div>

  <div class="min-w-0 grow flex-col items-start overflow-hidden text-left">
    <span class="truncate text-[14px] font-semibold">IMSS Los Mochis</span>
    <p class="truncate text-xs text-muted-foreground">Smaco Care Connect</p>
  </div>

  <div class="size-6 shrink-0">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>
</button>
